
obj/Debug/Managing.ARFF.Files.Properties.Resources.resources
obj/Debug/Managing.ARFF.Files.pdb
obj/Debug/Managing.ARFF.Files.csprojAssemblyReference.cache
obj/Debug/Managing.ARFF.Files.csproj.GenerateResource.cache
obj/Debug/Managing.ARFF.Files.csproj.FileListAbsolute.txt
obj/Debug/Managing.ARFF.Files.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/Managing.ARFF.Files.exe
obj/Debug/Managing.ARFF.Files.Form1.resources
.vs/Managing.ARFF.Files/v16/.suo
bin/Debug/Managing.ARFF.Files.exe
bin/Debug/Managing.ARFF.Files.exe.config
bin/Debug/Managing.ARFF.Files.pdb
